<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="max-w-md w-full bg-white shadow-lg rounded-lg p-8 text-center">
    <div class="mb-6">
      <img
        style="width: 400px"
        src="img/server-error.svg"
        alt="Validando acceso"
      />
    </div>

    <div class="flex justify-content-center flex-wrapx mt-7">
      <div class="bg-red-50 text-red-600 p-3 border-round-md text-lg">
        <i class="pi pi-exclamation-circle"></i>
        <span class="ml-2">{{ message }}</span>
      </div>
    </div>

    <div class="flex justify-content-center flex-wrapx mt-7">
      <button pButton (click)="goHome()" variant="outlined" severity="info">
        <i class="pi pi-home" pButtonIcon></i>
        <span pButtonLabel>Volver al inicio</span>
      </button>
    </div>
  </div>
</div>
