<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="max-w-md w-full bg-white shadow-lg rounded-lg p-8 text-center">
    <div class="mb-6">
      <img
        style="width: 400px"
        src="img/not-found.svg"
        alt="Validando acceso"
      />
    </div>

    <div class="flexs justify-content-center flex-wrapx mt-7">
      <h1 class="font-medium text-3xl">Página no encontrada.</h1>

      <p class="text-color-secondary">
        Lo sentimos, la página
        <strong class="text-gray-800">{{ previousUrl }}</strong> que busca no
        existe.
      </p>
    </div>

    <div class="flex justify-content-center flex-wrapx mt-7">
      <button pButton (click)="goHome()" variant="outlined" severity="info">
        <i class="pi pi-home" pButtonIcon></i>
        <span pButtonLabel>Volver al inicio</span>
      </button>
    </div>
  </div>
</div>
