name: Deploy Backend to Azure WebApp

on:
    push:
        branches: [main]
    workflow_dispatch:

env:
    DOCKER_IMAGE: juanchofernandez/fraud-api

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push
              uses: docker/build-push-action@v5
              with:
                  context: ./backend
                  push: true
                  tags: |
                      ${{ env.DOCKER_IMAGE }}:latest
                      ${{ env.DOCKER_IMAGE }}:${{ github.sha }}

            - name: Deploy to Azure
              uses: azure/webapps-deploy@v3
              with:
                  app-name: fraud-api
                  publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
                  images: ${{ env.DOCKER_IMAGE }}:latest
